<mat-drawer-container class="root" [style.background-image]="'url(' + wallpaper.value?.link + ')'" autosize>
    <mat-drawer #drawer mode="side">
        <ul class="links">
            <li *ngFor="let link of headLinks">
                <button mat-button>
                    <a [href]="link.url" target="_blank">{{link.label}}</a>
                </button>
            </li>
        </ul>
        <button mat-icon-button (click)="openInfo()" style="position: absolute; bottom: 16px; left: 16px;"><mat-icon>info</mat-icon></button>
    </mat-drawer>

    <mat-toolbar>
        <ng-container *ngIf="!isDesktop">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="isDesktop">
            <button mat-button *ngFor="let link of headLinks">
                <a [href]="link.url" target="_blank">{{link.label}}</a>
            </button>
            <button mat-icon-button (click)="openInfo()"><mat-icon>info</mat-icon></button>
        </ng-container>
    </mat-toolbar>
    <div>
        <img src="assets/banner.jpg" style="width: 100%">
    </div>

    <div style="flex: 1; display: flex; justify-content: center; height: 100%; align-items: center;">
        <!-- Snake game... -->
        <span>dominance is frank.</span>
    </div>
</mat-drawer-container>


<div class="wallpaper-credits">
    <div [innerHTML]="wallpaper.value?.credit"></div>
</div>
