:host {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.root {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    position: relative;
    z-index: 1;
}



mat-drawer-container {
    backdrop-filter: blur(5px);
    background-color: #0000;
}

a {
    color: #121212;
    font-weight: 600;
}


.logo {

}

.mainstage {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: space-around;
    align-items: center;

    iframe {
        width: 640px;
        height: 360px;
        box-shadow: var(--mdc-dialog-container-elevation, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
        overflow: hidden;
        border-radius: 9px;
    }
}

@media (max-width: 1250px) {
    .mainstage {
        flex-direction: column;
        height: unset;
    }
}
