// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$dark-app-theme: mat.define-dark-theme((color: (
    primary: mat.define-palette(mat.$lime-palette),
    accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$amber-palette),
)));

@include mat.all-component-themes($dark-app-theme);


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: white;
}

.mat-toolbar {
    background: #1b5e20;
}

.mat-button, .mat-button a {

    font-size: large;
    text-decoration: none;
    color: #ccc;
    padding: 4px 12px;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-in-out;

    &:hover {
        color: #fff;
        border-color: #7cca65;
    }
}

.mat-tab-group,
.mat-tab-body-wrapper {
    height: 100%;
}

.mat-drawer {
    background-color: #2e7d32;
    .mat-button,
    .mat-button a {
        color: #fff;
    }
}
mat-dialog-container {
    max-height: 80vh!important;
}

mat-drawer-content.mat-drawer-content {
    display: flex;
    flex-direction: column;
}
